@import url('https://fonts.googleapis.com/css2?family=Trirong:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
  --blue1: rgb(36, 58, 90);
  --blue2: rgb(70, 117, 153);
  --white: rgb(255, 255, 255);
  --accent: rgb(180, 139, 109);
  --darkmode: rgb(26, 26, 26);
  --font1: 'Open Sans', sans-serif;
  --font2: 'EB Garamond', serif;
}

/* Trirong */
/* EB Garamond */

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: var(--white);
  /* background: var(--darkmode); */
}

/* body::before {
  content: "";
  background: url(assets/bee\ \(compressed\).jpeg) no-repeat;
  background-size: 100%;
  position: absolute;
  z-index: -1;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.15;
} */


nav {
  width: 80%;
  top: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font1);
  font-weight: 600;
  border-bottom: 1px solid var(--blue1);
}

.logo {
  color: var(--blue1);
  font-size: 125%;
  font-weight: 900;
}

.navbar {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 400px;
  color: var(--accent);
  padding: 0;
}

.navbar a {
  color: var(--accent);
  padding: 10px;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

.navbar li :hover {
  background: var(--blue1);
}

.navbar li .active {
  color: var(--blue1);
  border-bottom: 3px solid var(--blue1);
  background: var(--white);
}

.grid-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 8%;
}

.intro {
  color: var(--blue1);
  font-family: var(--font1);
  font-size: 100%;
  margin-top: -5%;
  padding-right: 5%;
  text-align: left;
  justify-self: end;
  /* overflow: hidden; */
}

.greet {
  font-family: var(--font1);
  font-size: 320%;
  font-weight: 800;
  text-align: right;
  text-transform: lowercase;
}

.left-Text {
  letter-spacing: 1.25px;
  font-weight: 400;
  margin-top: -10%;
  margin-bottom: 10%;
}

.emp {
  font-weight: 700;
  font-size: 125%;
  color: var(--accent);
}

.button-holder {
  background: var(--blue1);
  width: 55%;
  height: 30%;
  margin-left: -8%;
  padding-left: 5%;
  padding-top: 3%;
}

.button {
  color: var(--accent);
  text-decoration: none;
  font-family: var(--font2);
  font-weight: 900;
  font-size: 175%;
  letter-spacing: 1.25px;
  border-bottom: 2px solid var(--accent);
  padding-top: 10px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
}

.button-holder :hover {
  color: var(--white);
  background: var(--accent);
  padding-left: 15px;
  padding-bottom: 10px;
  padding-right: 70px;
  margin-left: 15%;
}

.frame {
  justify-self: start;
  max-width: 300px;
  padding-left: 5%;
}

.face {
  min-width: 300px;
  padding: 2%;
  border: 3px solid var(--accent);
}

/* ---------------------- This is gallery ---------------------*/


.p-AW {
  width: 70%;
  /* max-width: 1000px; */
  margin-left: 15%;
  /* margin-left: auto; */
  /* margin-right: auto; */
}

.p-tag {
  margin-top: 5%;
  margin-bottom: 30px;
  color: var(--blue1);
  font-family: var(--font2);
  font-size: 300%;
  font-weight: 800;
  text-align: left;
}

.grid-container-artwork {
  /* margin-left: auto;
  margin-right: auto; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
}

.frame-AW {
  justify-self: end;
  max-width: 300px;
  max-height: 300px;
  margin-bottom: 30px;
  overflow: hidden;
  padding: 5px;
  border: 3px solid var(--accent);
  transition: 0.3s ease;
  margin-right: 10px;
}

.frame-AW:hover {
  opacity: 100%;
  /* margin-top: -15px; */
  transition: 0.3s ease;
}

.fr-text {
  position: absolute;
  width: 95%;
  height: 35%;
  margin-top: -40%;
  padding-top: 10px;
  padding-left: 15px;
  font-family: var(--font1);
  font-size: 150%;
  font-weight: 300;
  letter-spacing: 1px;
  color: var(--white);
  transition: 0.3s ease;
  opacity: 0%;
}

.fr-text span {
  position: relative;
  z-index: 2;
  transition: 0.3s ease;
}

.imageBehind:hover .fr-text {
  background: var(--blue1);
  transition: 0.3s ease;
  opacity: 100%;
}

.side-bar {
  position: fixed;
  top: 25%;
  left: 5%;
  /* background: var(--blue1); */
  padding: 200px 20px 200px 0px;
  border-right: 1px solid var(--blue1);
  display: flex;
  flex-direction: column;
  text-align: right;
}

.side-bar a {
  text-decoration: none;
  color: var(--accent);
  font-family: var(--font1);
  font-size: 100%;
  font-weight: 600;
  padding-top: 30px;
  margin-bottom: 30px;
}

.top-button {
  position: fixed;
  bottom: 5%;
  right: 5%;
}

.top-button a {
  text-decoration: none;
  color: var(--blue1);
  background: var(--accent);
  font-family: var(--font1);
  font-size: 100%;
  font-weight: 600;
  padding-top: 30px;
  margin-bottom: 30px;
  padding: 10px;
}


@media screen and (width <=1400px) {
  .p-AW {
    margin-left: auto;
    margin-right: auto;
  }

  .p-tag {
    text-align: center;
  }

  .grid-container-artwork {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }

  .frame-AW {
    justify-self: center;
  }


}


@media screen and (width <=1050px) {
  .p-AW {
    margin-left: auto;
    margin-right: auto;
  }

  .p-tag {
    text-align: center;
  }

  .grid-container-artwork {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: none;
    justify-content: center;
  }

  .side-bar {
    left: 10%;
  }

  .top-button {
    right: 10%;
  }

}

@media screen and (width <=700px) {
  .p-AW {
    margin-left: 20%
  }

  .grid-container-artwork {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: none;
    justify-content: center;
  }

  .side-bar {
    left: 2%;
  }
}