@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
  --blue1: rgb(36, 58, 90);
  --blue2: rgb(51, 115, 163);
  --accent: rgb(180, 139, 109);
  --white: rgb(255, 255, 255);
  --dark: rgb(26, 26, 26);
  --font1: 'Open Sans', sans-serif;
  --font2: 'EB Garamond', serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: var(--white);
  /* background: var(--dark); */
}

/* body::before {
  content: "";
  background: url(assets/bee.jpeg) no-repeat;
  background-size: 100%;
  position: absolute;
  z-index: -1;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.15;
} */

/* ---------------------- This is Navbar ---------------------*/

nav {
  width: 100%;
  top: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font1);
  font-weight: 600;
  /* border-bottom: 1px solid var(--blue1); */
}

.logo {
  color: var(--blue1);
  font-size: 150%;
  font-weight: 900;
  padding-left: 10%;
}

.navbar {
  list-style: none;
  display: flex;
  justify-content: space-between;
  color: var(--accent);
  padding-right: 10%;
}

.navbar a {
  color: var(--accent);
  padding: 10px 15px;
  margin: 0 5px;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

.navbar li :hover {
  background: var(--blue1);
  color: var(--white);
}

.navbar li .active {
  color: var(--blue1);
  border-bottom: 3px solid var(--blue1);
  background: var(--white);
}

/* ---------------------- This is Homepage ---------------------*/

.grid-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 50px;
  margin-top: 15vh;
}

.intro {
  color: var(--blue1);
  font-family: var(--font1);
  font-size: 100%;
  margin-top: -50px;
  text-align: left;
  justify-self: end;
  /* overflow: hidden; */
}

.greet {
  font-family: var(--font1);
  font-size: 400%;
  font-weight: 800;
  text-align: right;
  text-transform: lowercase;
}

.greet span {
  text-transform: capitalize;
}

.left-Text {
  color: var(--accent);
  text-align: right;
  letter-spacing: 1.25px;
  line-height: 2rem;
  font-size: 115%;
  font-weight: 600;
  margin-top: -10px;
  margin-bottom: 50px;
}

.emp {
  font-weight: 700;
  font-size: 120%;
  color: var(--blue1);
}

.CTA {
  font-size: 110%;
  font-weight: 400;
}

.button-holder {
  background: var(--blue1);
  width: 55%;
  height: 30%;
  margin-left: -8%;
  padding-left: 5%;
  padding-top: 3%;
}

.button {
  color: var(--accent);
  text-decoration: none;
  font-weight: 900;
  font-size: 175%;
  letter-spacing: 1.25px;
  border-left: 3px solid var(--accent);
  padding-left: 15px;
  padding-top: 13px;
  padding-bottom: 50px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
}

.button-holder :hover {
  color: var(--white);
  background: var(--accent);
  padding-left: 15px;
  padding-bottom: 10px;
  padding-right: 70px;
  /* margin-left: 15%; */
}

/* ---------------------- This is Homepage Image ---------------------*/

.frame {
  justify-self: start;
}

.frame img {
  width: 35vh;
  height: 35vh;
  border-radius: 50%;
  object-fit: cover;
}

.face {
  min-width: 300px;
  padding: 5px;
  border: 3px solid var(--accent);
}

/* ---------------------- This is Gallery ---------------------*/

.p-layout {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 185px 1fr;
  grid-column-gap: 50px;
  align-items: start;
}

.p-AW {
  grid-column: 2;
}

.p-tag {
  margin-top: 50px;
  margin-bottom: 30px;
  color: var(--blue1);
  font-family: var(--font1);
  font-size: 350%;
  font-weight: 800;
  text-align: left;
}

.num {
  color: var(--white);
  -webkit-text-stroke: 2px var(--accent);
}

.grid-container-artwork {
  /* margin-left: auto;
  margin-right: auto; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 40px;
}

.frame-AW {
  justify-self: end;
  overflow: hidden;
  transition: 0.3s ease;
  /* background: green; */
}

.frame-AW .imageBehind img {
  width: 300px;
  height: 300px;
  /* border-radius: 50%; */
  padding: 5px;
  border: 3px solid var(--accent);
  object-fit: cover;
  filter: grayscale(0);
  transition: 0.3s ease;
}

.imageBehind:hover img {
  filter: grayscale(1) blur(1px);
  transition: 0.3s ease;
}

.frame-AW .imageBehind iframe {
  width: 300px;
  height: 300px;
  /* border-radius: 50%; */
  padding: 5px;
  border: 3px solid var(--accent);
  filter: grayscale(0);
  transition: 0.3s ease;
  pointer-events: none;
}

.imageBehind:hover iframe {
  filter: grayscale(1) blur(1px);
  transition: 0.3s ease;
}

.fr-text {
  position: absolute;
  width: 100%;
  height: 35.5%;
  margin-top: -40%;
  padding-top: 10px;
  padding-left: 15px;
  font-family: var(--font1);
  font-size: 150%;
  font-weight: 500;
  letter-spacing: 1px;
  color: var(--blue1);
  transition: 0.3s ease;
  opacity: 0%;
}

.fr-text b {
  font-weight: 900;
}

.fr-text i {
  font-size: 75%;
}

.fr-text span {
  position: relative;
  z-index: 2;
  transition: 0.3s ease;
}

.imageBehind:hover .fr-text {
  background: var(--accent);
  transition: 0.3s ease;
  opacity: 100%;
}


/* ---------------------- This is Side-bar ---------------------*/

.side-bar {
  grid-column: 1;
  position: sticky;
  top: 0vw;
  background: var(--blue1);
  padding: 100px 0px 45px 0px;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: start;
}

.side-bar a {
  text-decoration: none;
  color: var(--accent);
  border-bottom: 3px solid var(--accent);
  font-family: var(--font1);
  font-size: 120%;
  font-weight: 600;
  padding: 10px 0;
  margin: 0px 0px 0px 40px;
  transition: 0.3s ease;
}

.side-bar a:hover {
  color: var(--white);
  background: var(--accent);
  padding-left: 15px;
  transition: 0.3s ease;
}

/* ---------------------- This is TOP button ---------------------*/

.top-button {
  /* float: right; */
  position: fixed;
  bottom: 5%;
  right: 0%;
}

.top-button a {
  text-decoration: none;
  color: var(--blue1);
  background: var(--accent);
  font-family: var(--font1);
  font-size: 110%;
  font-weight: 600;
  margin-bottom: 30px;
  padding: 10px 0 10px 15px;
  padding-right: 4vw;
  transition: 0.3s ease;
}

.top-button :hover {
  color: var(--white);
  background: var(--blue1);
}

/* ---------------------- This is Responsive Media ---------------------*/


@media screen and (width <=1500px) {
  .p-AW {
    margin-left: auto;
    margin-right: auto;
  }

  .grid-container-artwork {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 80px;
  }

  .frame-AW {
    justify-self: center;
  }

  .side-bar {
    left: 1%;
  }
}


@media screen and (width <=1150px) {
  .grid-container {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: none;
    grid-row-gap: 20px;
    margin-top: 5vh;
  }

  .grid-container .intro {
    grid-row: 2;
    justify-self: center;
    padding: 0;
  }

  .grid-container .frame {
    grid-row: 1;
    justify-self: center;
    padding: 0;
  }

  .p-layout {
    display: flex;
    flex-direction: column;
  }

  .p-tag {
    text-align: center;
  }


  .side-bar {
    flex-direction: row;
    top: 0;
    width: 100%;
    padding: 0px;
    background: var(--white);
    border-right: 0;
    padding-bottom: 10px;
    /* border-bottom: 1px solid var(--blue1); */
    /* box-shadow: 0px 2px 5px; */
    text-align: center;
    justify-content: center;
    margin: auto;
    margin-top: 30px;
    margin-bottom: -30px;
    z-index: 2;
  }

  .side-bar a {
    color: var(--accent);
    font-family: var(--font1);
    font-size: 100%;
    font-weight: 600;
    padding: 15px 20px 15px 20px;
    border-bottom: 1px solid var(--blue1);
    margin: 0;
  }

  .side-bar a .active {
    background: var(--blue1);
  }



  .side-bar {
    left: 10%;
  }

}

@media screen and (width <=800px) {
  .grid-container-artwork {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: none;
    justify-content: center;
  }
}